<div class="container grey">
  <div class="row">
    <div class="col s3 m3 l2 xl2">
      <div class="card">
        <div class="card-content">
          <form #taskForm="ngForm" (ngSubmit)="addTask(taskForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="taskService.selectedTask._id">
            <div class="row">
              <div class="input-field col s12">
                <p><label>Room?</label></p>
                <select
                  class="browser-default"
                  [(ngModel)]="taskService.selectedTask.room"
                  name="room"
                >
                  <option *ngFor="let room of roomList">
                    {{ room }}
                  </option>
                </select>
              </div>
              <div class="input-field col s12">
                <p><label>Name?</label></p>
                <input
                  type="text"
                  name="name"
                  #name="ngModel"
                  [(ngModel)]="taskService.selectedTask.name"
                  placeholder="enter the name"
                />
              </div>
              <div class="input-field col s12">
                <p><label>Hour?</label></p>
                <input
                  type="time"
                  name="hour"
                  #hour="ngModel"
                  [(ngModel)]="taskService.selectedTask.hour"
                  placeholder="enter hour"
                />
              </div>
              <div class="input-field col s12">
                <p><label>Transport?</label></p>
                <select
                  class="browser-default"
                  [(ngModel)]="taskService.selectedTask.transport"
                  name="transport"
                >
                  <option *ngFor="let transport of transportList">
                    {{ transport }}
                  </option>
                </select>
              </div>
              <div class="input-field col s12">
                <div class="switch">
                  <p><label>Oxigen?</label></p>
                  <label>
                    No
                    <input
                      type="checkbox"
                      name="oxigen"
                      #oxigen="ngModel"
                      [(ngModel)]="taskService.selectedTask.oxigen"
                      placeholder="enter oxigen"
                    />
                    <span class="lever"></span>
                    Yes
                  </label>
                </div>
              </div>
              <div class="input-field col s12">
                <p><label>Destination?</label></p>
                <select
                  class="browser-default"
                  [(ngModel)]="taskService.selectedTask.destination"
                  name="destination"
                >
                  <option *ngFor="let destination of destinationList">
                    {{ destination }}
                  </option>
                </select>
              </div>
              <div class="input-field col s12">
                <p><label>Estat?</label></p>
                <select
                  class="browser-default"
                  [(ngModel)]="taskService.selectedTask.estat"
                  name="estat"
                >
                  <option *ngFor="let estat of estatList" value={{estat[1]}}>
                    {{ estat[0] }}
                  </option>
                </select>
              </div>
              <div class="card-action">
                <div class="input-field col s12">
                  <button class="btn right" style="margin-left: 2px">
                    Save
                  </button>
                  <button
                    class="btn right"
                    (click)="resetForm(taskForm)"
                    style="margin-left: 2px"
                  >
                    Clean
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s9 m9 l10 xl10">
      <div class="card col s5 m4 l3 {{ task.estat[0] }}" style="margin-left: 1px" *ngFor="let task of taskService.tasks">
        <div class="col s12">
          <div class="card">
            <div class="card-image">
              <div class="col s6">
                <img
                  src="../../../assets/{{ task.transport }}.png"
                  style="width: 5vw; height: 5vh; margin-top: 5px"
                  class="circle responsive-img"
                />
              </div>
              <div class="col s6">
                <img
                  src="../../../assets/{{ task.oxigen }}.png"
                  style="width: 5vw; height: 5vh; margin-top: 5px"
                  class="circle responsive-img"
                />
              </div>

            </div>
            <div class="card-content">
              <div class="card-title center grey lighten-1">{{ task.room }}</div>
              <p>
                {{ task.name }}
                <span
                  ><h2 class="left-align">{{ task.destination }}</h2></span
                >
                <span
                  ><h1 class="right-align">{{ task.hour }}</h1></span
                >
              </p>
              <span>
                <a class="btn-floating tooltipped right waves-effect waves-light teal"
                (click)="editTask(task)"><i class="material-icons">edit</i></a
                >
              </span>
              <span>
                <a class="btn-floating tooltipped right waves-effect waves-light red"
                (click)="deleteTask(task._id,taskForm)"><i class="material-icons">remove</i></a
                >
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
